.productsWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

img{
    height: 80px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    height: 20rem;
}
.addBtn{
    border: none;
    outline: none;
    background: #764abc;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 30px;
}
.addBtn:hover{
    background: #b089ef;
}