@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Hurricane&family=Ramaraja&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit',Inter, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
