.single-photo{
    margin: 20px 0
}
.photo-img{
    height:220px
}

.spinner-wrapper{
    margin: 20px 0;
}
.post-container{
    width: 400px;
}
.action-btn-outer{
    text-align: right;;
}
.action-btn-outer .btn{
    margin-left: 10px;
}
.post-header{
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 16px;
}
.post-time{
    margin-bottom: 0;
    opacity: 0.6;
}