.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 20px;
    cursor: pointer;
}
.navLink{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
.cartCount{
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 40px;
    margin-right: 40px;
}