.single-post{
    margin-bottom: 20px;
}
.photo-img{
    height:220px
}

.spinner-wrapper{
    margin: 20px 0;
}
.post-container{
    margin-top: 20px;
}
.action-btn-outer{
    text-align: right;;
}
.action-btn-outer .btn{
    margin-left: 10px;
    background: none;
}
.post-header{
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 16px;
}
.post-time{
    margin-bottom: 0;
    opacity: 0.6;
}

.active-member-list.inActive{
    opacity: 0.7;
}